/* *{
    margin: 0;
    padding: 0;
} */

.winner {
    color: green;
}

.loser {
    color: red;
}

/* 
.container{
    width: 200px;
    height: 360px;
    text-align: center;
    align-self: center;
    border: 1px solid black;
}

img {
    width: 150px;
    height: 100px;
} */